name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:

  check:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: install deps
      run: sudo apt-get install make ftp git bzr curl hwloc libhwloc-dev mesa-opencl-icd ocl-icd-opencl-dev wget -y && sudo apt upgrade -y

    - name: Build
      env:
        GOPROXY: "https://proxy.golang.org,direct"
        GO111MODULE: "on"
      run: |
        make

    - name: Lint
      uses: dominikh/staticcheck-action@v1.1.0
      with:
        install-go: false
        version: "2021.1.1"

    - name: Test
      run: go test -v ./...

    - name: Run coverage
      run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic

    - name: upload
      uses: codecov/codecov-action@v2
      with:
        token:
        files: ./coverage.txt
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true